// ========================================
// Layout Utilities
// ========================================
@use '../variables' as vars;
@use '../mixins';

// Container
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 vars.$spacing-md;
}

// Flexbox utilities
.flex {
    display: flex;
}

.flex-center {
    @include mixins.flex-center;
}

.flex-between {
    @include mixins.flex-between;
}

.flex-column {
    @include mixins.flex-column;
}

// Spacing utilities
@each $size, $value in ('xs': vars.$spacing-xs,
    'sm': vars.$spacing-sm,
    'md': vars.$spacing-md,
    'lg': vars.$spacing-lg,
    'xl': vars.$spacing-xl,
    'xxl': vars.$spacing-xxl) {
    .m-#{$size} {
        margin: $value;
    }

    .mt-#{$size} {
        margin-top: $value;
    }

    .mr-#{$size} {
        margin-right: $value;
    }

    .mb-#{$size} {
        margin-bottom: $value;
    }

    .ml-#{$size} {
        margin-left: $value;
    }

    .p-#{$size} {
        padding: $value;
    }

    .pt-#{$size} {
        padding-top: $value;
    }

    .pr-#{$size} {
        padding-right: $value;
    }

    .pb-#{$size} {
        padding-bottom: $value;
    }

    .pl-#{$size} {
        padding-left: $value;
    }
}